In [1]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

In [8]:
df = pd.read_csv('fish.csv')

In [9]:
#df[['bp_before','bp_after']].describe()
df.head(5)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [12]:
df[['Length1','Length2']].describe()

          Length1     Length2
count  159.000000  159.000000
mean    26.247170   28.415723
std      9.996441   10.716328
min      7.500000    8.400000
25%     19.050000   21.000000
50%     25.200000   27.300000
75%     32.700000   35.500000
max     59.000000   63.400000

In [14]:
df.shape

(159, 7)

In [15]:
ttest,pval = stats.ttest_rel(df['Length1'], df['Length2'])

print(pval)

8.98060011577915e-76

In [16]:
if pval<0.05:
    print("reject nul hypothesis")
else:
    print("accept null hypothesis")

reject nul hypothesis

Artinya : perawatan khusus untuk ikan-ikan tesebut mempengaruhi panjang ikan setelah diberikan treatmnt